doctype html 
head 
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style 
        include style.css 
    script 
        include main.js
    title Памятники Башташ
body
    .header__background
        .wrapper
            .header__logo 
            .header__maintext БАШТАШ - ПАМЯТНИКИ ПО КРЫМУ И СЕВАСТОПОЛЮ
            .about-us
                .about-us__element1 25
                    .about-us__element2 лет опыта
                .about-us__element1 500+
                    .about-us__element2 памятников установлено
                .about-us__element1 15000
                    .about-us__element2 минимальная цена
    .photos
        .wrapper 
            h2.photos__name Наши работы
            .slider1 
                include slider/standard.html
    .nomer
        .wrapper
            .nomer__pozvonite Для заказа звонить по номеру: +79780730656

    .karta 
        h2.karta__name Как нас найти
        .wrapper
            .karta__karta <script id="karta" type="text/javascript" charset="utf-8" async></script>
            

    .kontakts
        .wrapper 
            h2.kontakts__name Контакты
            .items 
                .items__item Республика Крым, пгт. Октябрьское (Амурское), ул. Шевченко 3А
                .items__item +7(978) 073-06-56 <br>
                .items__item Без выходных 10:00 - 20:00

    footer.footer
        .wrapper 
            .footer__copyright © 2021 Башташ